<div class="card">
    <div class="row card-title">
        <h5 class="">
            <span class="material-icons">
                rocket_launch
            </span>
            Physique</h5>
    </div>

    <div class="row card-content">
        <ul class="collapsible">

            {{#each lessons_pc}}
                <li class="">
                    <div class="collapsible-header line center-align"><i class="material-icons">filter_drama</i>
                        {{title}}
                    </div>

                    <div class="collapsible-body">
                        <span>
                            ---
                            <a href="../{{body}}">TD</a>
                        </span>
                        <table class="striped bordered">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>cour</th>
                                    <th>TD</th>   
                                    <th>Edit</th>   
                                    <th>Delete</th>   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{user.displayName}}</td>
                                    <td>
                                        <a>Cour-</a>
                                    </td>
                                    <td>TD</td>
                                    <td>
                                        <a href="/google"><span class="material-icons"> edit</span></a>
                                        </td>
                                        <td>
                                            <span id="{{_id}}" class="material-icons delete-button" >delete_forever</span>
                                    </td>
                                </tr>

                                <tr><td>Rahul Sharma</td><td>VI</td><td>B</td></tr>
                                <tr><td>Mohan Sood</td><td>VI</td><td>A</td></tr>
                            </tbody>
                        </table>
                        <hr />

                    </div>
                </li>
            {{/each}}
        </ul>

    </div>

    <div class="row card-title">
        <h5 class="">
            <span class="material-icons">
                science
            </span>
            Chimie</h5>
    </div>
    <div class="row card-content">
        <ul class="collapsible">

            {{#each lessons_ch}}

                <li class="">
                    <div class="collapsible-header line center-align"><i class="material-icons">filter_drama</i>
                        {{title}}
                        {{status}}
                    </div>

                    <div class="collapsible-body"><span>

                            <a>Cour</a>
                            ---
                            <a>TD</a>
                        </span></div>
                </li>

            {{/each}}
        </ul>

    </div>

</div>
